# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.OOP_step_153_WPF_WpfMvvm.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
