<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns ="urn:schemas-microsoft-com:asm.vl">
      <dependentAssembly>
        <assemblyIdentity name="OOP_step_74_ClassLibrary_CarLibrary" publicKeyToken="33A2BC294331E8B9">
          <codeBase version="2.0.0.0" href="file:C:\Asm\OOP_step_74_ClassLibrary_CarLibrary.dll"/>
        </assemblyIdentity>
      </dependentAssembly>
    </assemblyBinding>                     
  </runtime>
</configuration>